@media screen and (min-width: 901px) {
  body {
    color: dimgray;
    margin: 0;
    /* background-color: #5f7da5; */
    background-image: url(./img/haikei2.png);
  }

  .content_2 {
    position: relative;
    z-index: -1;
  }
  .content_2::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    /* 四角形を傾ける */
    transform: skewY(10deg);
    transform-origin: bottom left;
    z-index: -2;
    width: 100%;
    height: 100%;
    background: white;
  }

  header {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #fbc2db;
    padding-bottom: 10px;

    /* background-color: rgba(0, 255, 255, 0.3); */
    /* border-top: solid 10px rgba(0, 255, 255, 0.3); */
  }

  header p {
    margin-left: 20px;
  }

  header a {
    color: dimgray;
  }

  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
  }

  .menu-btn span,
  .menu-btn span::before,
  .menu-btn span::after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: black;
    position: absolute;
  }

  .menu-btn span::before {
    bottom: 8px;
  }

  .menu-btn span::after {
    top: 8px;
  }

  #menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
  }

  #menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  #menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  #menu-btn-check {
    display: none;
  }
  .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: rgb(255, 233, 251);
    transition: all 0.5s;
  }

  .menuname {
    margin-top: 200px;
  }

  .menu-content ul li {
    list-style: none;
  }

  .menu-content ul li a {
    display: block;
    width: 30%;
    text-align: center;
    border-bottom: solid 1px dimgray;
    font-size: 32px;
    box-sizing: border-box;
    color: dimgray;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    margin-bottom: 30px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .menu-content ul li a:hover {
    color: rgb(153, 153, 153);
  }

  /* .menu-content ul {
  padding: 70px 10px 0;
}

.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}

.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}

.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
} */

  #menu-btn-check:checked ~ .menu-content {
    left: 0%;
  }

  main {
    position: absolute;
    top: 200px;
    width: 100%;
  }
  .yunaimg {
    padding-top: 50px;
    width: 40%;
    margin: 0 30%;
  }

  .profilemidasi {
    text-align: center;
    position: relative;
    color: dimgray;
    font-size: 60px;
    font-weight: lighter;
    font-family: "Times New Roman", Times, serif;
    text-shadow: 0 0 2px white;
    border: solid 0px;
  }
  .profilemidasi:before {
    text-align: center;
    content: "";
    position: absolute;
    background: #fbc2db;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: 50%;

    /* border: dashed 1px white; */
    left: 40%;
    top: 0px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
  }

  .profiledetail {
    width: 50%;
    margin: 0 auto;
  }
  .height {
    display: flex;
    align-items: center;
  }

  #namaeja {
    font-size: 32px;
  }

  #namaeen {
    margin-top: -20px;
    border-bottom: solid 1px dimgray;
    margin-bottom: 30px;
  }

  #daigaku {
    font-size: 18px;
  }

  .SNS {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10px;
  }

  .SNS img {
    margin-left: 5%;
    margin-right: 5%;
    width: 80px;
  }

  #twitter {
    padding-right: 20px;
  }

  /* myskill 自分の持っているスキルの所 */
  .myskill {
    margin-top: 100px;
    clear: both;
    font-family: "Times New Roman", Times, serif;
  }

  .skillcenter {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 32px;
    text-align: center;
    border-bottom: solid 1px dimgray;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 50px;
    margin-top: 150px;
    font-family: "Times New Roman", Times, serif;
  }
  h3 {
    margin: 50px 0 25px;
    text-align: center;
  }

  .scholarship {
    width: max-content;
    margin: 0 auto;
  }

  .skill img {
    width: 100px;
    height: 100px;
    border-radius: 5%;
  }

  .skillrogoimg {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .skill {
    width: 200px;
    float: left;
  }

  .skill h2 {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }

  .skill p {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 20px;
    margin-top: -20px;
    margin-bottom: 50px;
  }
  #myskillbun {
    clear: both;
    text-align: center;
  }
  .researchsetumei {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 70px;
  }
  .onework {
    margin-bottom: 100px;
    float: left;
  }

  .midasi {
    background-color: white;
    font-size: 20px;
    width: 88vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4vw 30px;
    box-shadow: 0 0 8px grey;
  }

  .midasi p {
    margin-left: 10px;
  }

  .midasi img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .link {
    width: 40vw;
    margin: 0 4vw;
    margin-bottom: 20px;
  }

  .worksimg {
    width: 40vw;
    margin: 0 4vw;
    box-shadow: 0 0 8px grey;
  }

  .setumei {
    width: 40vw;
    margin: 0 4vw;
  }

  .researchsetumei-seikaku {
    text-align: center;
  }

  .seikakuimg {
    width: 20%;
    margin: 0 40% 100px;
  }

  footer {
    clear: both;
    background-color: rgba(255, 255, 255, 0.63);
    border-bottom: solid 2px rgba(255, 255, 255, 0.63);
    color: dimgray;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    height: 70px;
  }

  footer p {
    padding-top: 30px;
  }
}

@media screen and (max-width: 900px) {
  body {
    color: dimgray;
    margin: 0;
    /* background-color: #5f7da5; */
    background-image: url(./img/haikei2.png);
  }

  .content_2 {
    position: relative;
    z-index: -1;
  }
  .content_2::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    /* 四角形を傾ける */
    transform: skewY(10deg);
    transform-origin: bottom left;
    z-index: -2;
    width: 100%;
    height: 100%;
    background: white;
  }

  header {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #fbc2db;
    padding-bottom: 10px;

    /* background-color: rgba(0, 255, 255, 0.3); */
    /* border-top: solid 10px rgba(0, 255, 255, 0.3); */
  }

  header p {
    margin-left: 20px;
  }

  header a {
    color: dimgray;
  }

  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
  }

  .menu-btn span,
  .menu-btn span::before,
  .menu-btn span::after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: black;
    position: absolute;
  }

  .menu-btn span::before {
    bottom: 8px;
  }

  .menu-btn span::after {
    top: 8px;
  }

  #menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
  }

  #menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  #menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  #menu-btn-check {
    display: none;
  }
  .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: rgb(255, 233, 251);
    transition: all 0.5s;
  }

  .menuname {
    margin-top: 200px;
  }

  .menu-content ul li {
    list-style: none;
  }

  .menu-content ul li a {
    display: block;
    width: 30%;
    text-align: center;
    border-bottom: solid 1px dimgray;
    font-size: 32px;
    box-sizing: border-box;
    color: dimgray;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    margin-bottom: 30px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .menu-content ul li a:hover {
    color: rgb(153, 153, 153);
  }

  /* .menu-content ul {
  padding: 70px 10px 0;
}

.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}

.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}

.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
} */

  #menu-btn-check:checked ~ .menu-content {
    left: 0%;
  }

  main {
    position: absolute;
    top: 200px;
  }

  .yunaimg {
    padding-top: 50px;
    width: 79%;
    margin: 0 10%;
  }

  .profilemidasi {
    text-align: center;
    position: relative;
    color: dimgray;
    font-size: 60px;
    font-weight: lighter;
    font-family: "Times New Roman", Times, serif;
    text-shadow: 0 0 2px white;
    border: solid 0px;
    margin-top: 30px;
  }
  .profilemidasi:before {
    text-align: center;
    content: "";
    position: absolute;
    background: #fbc2db;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: 50%;

    /* border: dashed 1px white; */
    left: 25%;
    top: 0px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
  }

  .profiledetail {
    width: 90%;
    margin: 0 auto;
  }

  .height {
    display: flex;
    align-items: center;
  }

  #namaeja {
    font-size: 28px;
  }

  #namaeen {
    margin-top: -20px;
    border-bottom: solid 1px dimgray;
    margin-bottom: 30px;
  }

  #daigaku {
    font-size: 16px;
  }

  .SNS {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10px;
  }

  .SNS img {
    margin-left: 10%;
    margin-right: 10%;
    width: 80px;
  }

  #twitter {
    padding-right: 20px;
  }

  /* myskill 自分の持っているスキルの所 */
  .myskill {
    margin-top: 100px;
    clear: both;
    font-family: "Times New Roman", Times, serif;
  }

  .skillcenter {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 20px;
    text-align: center;
    border-bottom: solid 1px dimgray;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
    margin-top: 150px;
    font-family: "Times New Roman", Times, serif;
  }

  h3 {
    margin: 70px 0 35px;
    text-align: center;
  }

  .scholarship {
    width: max-content;
    margin: 0 auto;
  }

  .skill img {
    width: 100px;
    height: 100px;
    border-radius: 5%;
  }

  .skillrogoimg {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    float: left;
  }

  .skilldetail {
    margin-left: 30px;
    width: max-content;
    float: left;
    margin-bottom: 50px;
  }
  /* 
  .skilldetail p {
    font-size: 14px;
  } */

  .skill {
    width: fit-content;
    display: block;
  }

  .skill h2 {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }

  .skill p {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 20px;
    margin-top: -20px;
    margin-bottom: 50px;
  }
  #myskillbun {
    clear: both;
    text-align: center;
  }

  .researchsetumei {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 70px;
    /* font-size: 14px; */
  }

  .researchsetumei-seikaku {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
    /* font-size: 14px; */
  }

  .onework {
    margin-bottom: 100px;
  }

  .midasi {
    background-color: white;
    font-size: 20px;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5vw 30px;
    box-shadow: 0 0 8px grey;
  }

  .midasi p {
    margin-left: 10px;
  }

  .midasi img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .link {
    width: 90%;
    margin: 0 5vw;
    margin-bottom: 10px;
  }
  .worksimg {
    width: 90vw;
    margin: 0 5vw;
    box-shadow: 0 0 8px grey;
  }

  .setumei {
    width: 90%;
    margin: 0 5vw;
    /* font-size: 14px; */
  }

  .seikakuimg {
    width: 50%;
    margin: 0 25% 100px;
  }

  footer {
    background-color: rgba(255, 255, 255, 0.63);
    border-bottom: solid 2px rgba(255, 255, 255, 0.63);
    color: dimgray;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    height: 70px;
  }

  footer p {
    padding-top: 30px;
  }
}

.research a {
  text-decoration: none;
}
