@media screen and (min-width: 901px) {
  body {
    color: dimgray;
    margin: 0;
    /* background-color: #5f7da5; */
    background-image: url(./img/haikei2.png);
  }

  .content_2 {
    position: relative;
    z-index: -1;
  }
  .content_2::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    /* 四角形を傾ける */
    transform: skewY(10deg);
    transform-origin: bottom left;
    z-index: -2;
    width: 100%;
    height: 100%;
    background: white;
  }

  header {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #ebcdec;
    padding-bottom: 10px;

    /* background-color: rgba(0, 255, 255, 0.3); */
    /* border-top: solid 10px rgba(0, 255, 255, 0.3); */
  }

  header p {
    margin-left: 20px;
  }

  header a {
    color: dimgray;
  }

  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
  }

  .menu-btn span,
  .menu-btn span::before,
  .menu-btn span::after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: black;
    position: absolute;
  }

  .menu-btn span::before {
    bottom: 8px;
  }

  .menu-btn span::after {
    top: 8px;
  }

  #menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
  }

  #menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  #menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  #menu-btn-check {
    display: none;
  }
  .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: rgb(255, 233, 251);
    transition: all 0.5s;
  }

  .menuname {
    margin-top: 200px;
  }

  .menu-content ul li {
    list-style: none;
  }

  .menu-content ul li a {
    display: block;
    width: 30%;
    text-align: center;
    border-bottom: solid 1px dimgray;
    font-size: 32px;
    box-sizing: border-box;
    color: dimgray;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    margin-bottom: 30px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .menu-content ul li a:hover {
    color: rgb(153, 153, 153);
  }

  /* .menu-content ul {
  padding: 70px 10px 0;
}

.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}

.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}

.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
} */

  #menu-btn-check:checked ~ .menu-content {
    left: 0%;
  }

  .SNS {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10px;
  }

  .SNS img {
    margin-left: 5%;
    margin-right: 5%;
    width: 80px;
  }

  #twitter {
    padding-right: 20px;
  }

  main {
    position: absolute;
    top: 200px;
  }

  .kiimg {
    padding-top: 50px;
    width: 40%;
    margin: 0 30%;
    padding-bottom: 20px;
  }

  .worksmidasi {
    text-align: center;
    position: relative;
    color: dimgray;
    font-size: 60px;
    font-weight: lighter;
    font-family: "Times New Roman", Times, serif;
    text-shadow: 0 0 2px white;
  }
  .worksmidasi:before {
    text-align: center;
    content: "";
    position: absolute;
    background: #ebcdec;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: 50%;

    /* border: dashed 1px white; */
    left: 40%;
    top: 0px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
  }

  .myworks {
    width: 80%;
    margin: 0 auto 150px;
    text-align: center;
  }

  .myworks p:nth-of-type(1) {
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    border-bottom: solid 1px dimgray;
    text-align: center;
  }

  .onework {
    margin-bottom: 100px;
    float: left;
  }

  .midasi {
    background-color: white;
    font-size: 20px;
    width: 40vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4vw 30px;
    box-shadow: 0 0 8px grey;
  }

  .midasi p {
    margin-left: 10px;
  }

  .midasi img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .worksimg {
    width: 40vw;
    margin: 0 4vw;
    box-shadow: 0 0 8px grey;
  }

  .setumei {
    width: 40vw;
    margin: 0 4vw;
  }
  .setumei p:nth-of-type(1) {
    font-size: 20px;
  }

  .setumei p:nth-of-type(2) {
    height: 4em;
  }

  footer {
    clear: both;
    background-color: rgba(255, 255, 255, 0.63);
    border-bottom: solid 2px rgba(255, 255, 255, 0.63);
    color: dimgray;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    height: 70px;
  }

  footer p {
    padding-top: 30px;
  }
}
@media screen and (max-width: 900px) {
  body {
    color: dimgray;
    margin: 0;
    /* background-color: #5f7da5; */
    background-image: url(./img/haikei2.png);
  }

  .content_2 {
    position: relative;
    z-index: -1;
  }
  .content_2::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    /* 四角形を傾ける */
    transform: skewY(10deg);
    transform-origin: bottom left;
    z-index: -2;
    width: 100%;
    height: 100%;
    background: white;
  }

  header {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #ebcdec;
    padding-bottom: 10px;

    /* background-color: rgba(0, 255, 255, 0.3); */
    /* border-top: solid 10px rgba(0, 255, 255, 0.3); */
  }

  header p {
    margin-left: 20px;
  }

  header a {
    color: dimgray;
  }

  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
  }

  .menu-btn span,
  .menu-btn span::before,
  .menu-btn span::after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: black;
    position: absolute;
  }

  .menu-btn span::before {
    bottom: 8px;
  }

  .menu-btn span::after {
    top: 8px;
  }

  #menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
  }

  #menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  #menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  #menu-btn-check {
    display: none;
  }
  .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: rgb(255, 233, 251);
    transition: all 0.5s;
  }

  .menuname {
    margin-top: 200px;
  }

  .menu-content ul li {
    list-style: none;
  }

  .menu-content ul li a {
    display: block;
    width: 30%;
    text-align: center;
    border-bottom: solid 1px dimgray;
    font-size: 32px;
    box-sizing: border-box;
    color: dimgray;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    margin-bottom: 30px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .menu-content ul li a:hover {
    color: rgb(153, 153, 153);
  }

  /* .menu-content ul {
  padding: 70px 10px 0;
}

.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}

.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}

.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
} */

  #menu-btn-check:checked ~ .menu-content {
    left: 0%;
  }

  .SNS {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10px;
  }

  .SNS img {
    margin-left: 5%;
    margin-right: 5%;
    width: 80px;
  }

  #twitter {
    padding-right: 20px;
  }

  main {
    position: absolute;
    top: 200px;
  }

  .kiimg {
    padding-top: 50px;
    width: 85%;
    margin: 0 7.5%;
    padding-bottom: 20px;
  }

  .worksmidasi {
    text-align: center;
    position: relative;
    color: dimgray;
    font-weight: lighter;
    font-size: 60px;
    font-family: "Times New Roman", Times, serif;
    text-shadow: 0 0 2px white;
  }
  .worksmidasi:before {
    text-align: center;
    content: "";
    position: absolute;
    background: #ebcdec;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: 50%;

    /* border: dashed 1px white; */
    left: 25%;
    top: 0px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
  }

  .myworks {
    width: 85%;
    margin: 0 auto 150px;
  }

  .myworks p:nth-of-type(1) {
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    border-bottom: solid 1px dimgray;
    text-align: center;
  }

  .onework {
    margin-bottom: 100px;
  }

  .midasi {
    background-color: white;
    font-size: 20px;
    width: 85vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 7.5vw 30px;
    box-shadow: 0 0 8px grey;
  }

  .midasi p {
    margin-left: 10px;
  }

  .midasi img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .worksimg {
    width: 85vw;
    margin: 0 7.5vw;
    box-shadow: 0 0 8px grey;
  }

  .setumei {
    width: 85%;
    margin: 0 7.5vw;
  }
  .setumei p:nth-of-type(1) {
    font-size: 20px;
  }

  footer {
    background-color: rgba(255, 255, 255, 0.63);
    border-bottom: solid 2px rgba(255, 255, 255, 0.63);
    color: dimgray;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    height: 70px;
  }

  footer p {
    padding-top: 30px;
  }
}

.work a {
  text-decoration: none;
  color: dimgray;
}
